/*_______________________________FOOTER_________________________________________*/

.F{
    
    width: 100%;
    height: 100%;
    margin-top: 30px;

    .listaFooter{
        display:flex;
        flex-direction: column;
        list-style: none;
        .listaFooter__li{
            font-size: 20px;
            padding: 5px;
            width: 100px; 
        }
    }

    .PieDePagina{
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        @include colorTipoLetras;
    }

    .redes{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        .tw:hover{
            width: 60px;
        }
        
        .ig:hover{
            width: 60px;
        }
        

        .fb:hover{
            width: 60px;
        }
    }
    a:link, a:visited, a:active {
        text-decoration:none; 
        @include colorTipoLetras;
    }
    
    a:hover{
        text-decoration: underline;
    }

}
.redes_individual{
    width: 40px;
    padding: 5px;
    transition: with 2s;
}
.tw{
    @extend .redes_individual;

}
.fb{
    @extend .redes_individual;
}

.ig{
    @extend .redes_individual;
}