/*_______________________________GALERIA_________________________________________*/
.galeria{
    display: grid;
    grid-template-columns:560px 560px;
    grid-template-rows: repeat(4,400px);
    justify-content: center;
    grid-template-areas: 
         "img1 img2"
         "img3 img2"
         "img4 img5"
         "img6 img6"
    ;

    .galeria__1{
        grid-area: img1;
    }
    .galeria__2{
        grid-area: img2;
    }
    .galeria__3{
        grid-area: img3;
    }
    .galeria__4{
        grid-area: img4;
    }
    .galeria__5{
        grid-area: img5;
    }
    .galeria__6{
        grid-area: img6;
    } 

}

.galeria__img{
    padding:10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeInUp;
    animation-duration: 2s;
    position: relative;
    transition: all 300ms;   
}

.galeria__img:hover{
    transform: scale(1.15);   
}