/*_______________________________MAIN_________________________________________*/

.subtitulo{
    width: 100%;
    height: 100%;

    .subtitulo__texto{
        font-size: 90px;
        text-align: start;
        width: 700px;
        height: 500;
    }

    .subtitulo__texto{
        @include colorTipoLetras;
       
    }
}
.imagenes__img{
    width:100% ;
    height: 100%;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom:10px;
}
.img2{
    height: map-get($TamanoImagenes , tamano1);
}
.img3{
    height: map-get($TamanoImagenes , tamano2);
}
.img4{
    height: map-get($TamanoImagenes , tamano3);
}


