.subtitulo{
    width: 100%;
    height: 100%;

    .subtitulo__texto{
        color: $colorLetras;
        font-size: 90px;
        text-align: start;
        width: 700px;
        height: 500;
    }
}
.imagenes__img{
    width:100% ;
    height: 100%;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom:10px;
    .img2{
        height: 1200px;
    }
    .img3{
        height: 500px;
    }
    .img4{
        height:500px;
    }
}