/*_______________________________SOBRE MI_________________________________________*/

.sobreMi{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;

    .imagenPerfil{
        width:500px;
        height: 700px;
        margin: 60px;
        margin-bottom: 20px;
    }
    .textoSobreMi{
        width: 500px;
        height:600px;
        font-size: 20px;
        margin: 60px;
        margin-bottom: 20px;  
        animation-duration: 6s;
        animation-name: sobreMiTexto;
        animation-iteration-count: inherit;
        @include colorTipoLetras;

        @keyframes sobreMiTexto{
            0%{
                opacity: 0;
            }
        
            100%{
                opacity: 1;
            }
        }
    }

    
}