/*_______________________________GENERAL_________________________________________*/

$colorFondo:#242020;
$colorLetras:#f0e0cb;

body {
    
    background-color:$colorFondo;
    
}

$TamanoImagenes:(
    tamano1:1200px,
    tamano2:500px,
    tamano3:500px,
);

@mixin colorTipoLetras{
    color: $colorLetras;
    font-family: 'Oswald', sans-serif;
}

@import "header";
@import "main";
@import "footer";
@import "sobreMi";
@import "galeria";
@import "proyectos";
@import "obras";
@import "contacto";
@import "mobile";




