*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color: #242020;
    color: #f0e0cb;
}


/*---------------------------------------INICIO----------------------------*/
.inicioTitulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;  
    color: #f0e0cb;
    width: 700px;
}
.menu{
    font-size: 25px;
    position: absolute;
    top:2px;
    right: 5px;
    width: 700px; 
}

.menu__li{
    list-style: none;
    padding: 10px;
    padding-top: 0;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color:#faefe0 ;  
}

.menu__li:hover{
    text-decoration: underline;
}

.H{
    
    background-image: url(./imagenes/HOME/fondo.jpg);
    height: 700px;
    object-fit: cover; 
}

.boton_inicio{
    animation:fadeInRight ;
    animation-duration: 2.5s;
}
/*---------------------------------------CONTENIDO----------------------------*/
.subtitulo{
    width: 100%;
    height: 100%;
}

.subtitulo__texto{
    color: #f0e0cb;
    font-size: 90px;
    text-align: start;
    width: 700px;
    height: 500;
}



.imagenes__img{
    width:100% ;
    height: 100%;
    object-fit: cover;
    padding-top: 10px;
    padding-bottom:10px;
}

.img2{
    height: 1200px;
}
.img3{
    height: 500px;
}
.img4{
    height: 500px;
}


/*---------------------------------------FOOTER----------------------------*/
.F{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.listaFooter{
    display: flex;
    flex-direction: column;
    
}

.listaFooter__li{
    font-size: 25px;
    padding: 5px;
    width: 100px;
}

.PieDePagina{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.tw{
    width: 45px;
    transition: with 2s;
    padding: 5px;
}
.tw:hover{
    width: 60px;
}
.ig{
    width: 40px;
    transition: with 2s;
    padding: 5px;
}
.ig:hover{
    width: 60px;
}
.fb{
    width: 40px;
    transition: with 2s;
    padding: 5px;
}
.fb:hover{
    width: 60px;
}

/*---------------------------------------SOBRE MI----------------------------*/
.titulo2{
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
    position: absolute;
    left: 100px;
    top: 500px;
    animation:fadeIn ;
    animation-duration: 3s;
}
.sobreMi{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    
}
.imagenPerfil{
    width:500px;
    height: 700px;
    margin: 60px;
    margin-bottom: 20px;
    
}
.textoSobreMi{
    width: 500px;
    height:600px;
    font-size: 20px;
    margin: 60px;
    margin-bottom: 20px;  
    animation-duration: 6s;
    animation-name: sobreMiTexto;
    animation-iteration-count: inherit;
}
@keyframes sobreMiTexto{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


/*---------------------------------------GALERIA----------------------------*/
.galeria{
   display: grid;
   grid-template-columns:560px 560px;
   grid-template-rows: repeat(4,400px);
   justify-content: center;
   grid-template-areas: 
        "img1 img2"
        "img3 img2"
        "img4 img5"
        "img6 img6"
    ;
}

.galeria__1{
    grid-area: img1;
}
.galeria__2{
    grid-area: img2;
}
.galeria__3{
    grid-area: img3;
}
.galeria__4{
    grid-area: img4;
}
.galeria__5{
    grid-area: img5;
}
.galeria__6{
    grid-area: img6;
}


.galeria__img{
    padding:10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeInUp;
    animation-duration: 2s;
    transition: all 300ms;
}

.galeria__img:hover{
    transform: scale(1.15);
}

/*---------------------------------------PROYECTOS-----------------------------*/
.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20x;
}
.proyectos__img{
    padding: 10px;
    width: 900px;
    animation: zoomIn;
    animation-duration: 2s;
}

.proyectos__texto{
    font-size: 25px;
    width: 50%;

}
/*---------------------------------------OBRAS-----------------------------*/
.obras__texto{
    font-size: 25px;
    animation: slideInUp;
    animation-duration: 2s;
}

.obras__img{
    padding: 10px;
    width: 100%;
    animation: fadeIn;
    animation-duration: 3s;
    height: 400px;
}
/*---------------------------------------CONTACTO-----------------------------*/
.grid-contacto{
    display: grid;
    grid-template-areas: 
          "H H"
          "img mensaje"
          "img form"
          "img form"
          "F F";
   grid-gap: 10px;  
   grid-template-columns: 1fr 1fr;

}

.formulario{
    grid-area: form;
    margin: auto;
}
.imgcont{
    grid-area: img;
}

.DejanosTuMensaje{
    font-size: 50px;
    grid-area: mensaje;
    text-align: center;
    margin: auto;
}

.imagen-contacto{
    width: 100%;
    padding: 20px;
}

.formulario__div{
    width: 800px;
    margin: 20px;
   
}

.formulario__label{
    width: 800px;
    height: 900px;
}

.formulario__input{
   width: 500px;
   height: 50px;
    padding: 15px;
    margin: 20px;
    border: 1px solid #ffffff;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    background-color: #242020;
    color: #f0e0cb;
    animation: fadeInRight;
    animation-duration: 1s;
}

.mensaje{
    height: 150px;
}

.boton1{
    background-color:#f18c72 ;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin: 10px;
   
}
.boton2{
    background-color:#f18c72 ;
    width: 150px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    
}

/*---------------------------------------MOBILE-----------------------------*/

@media screen and (max-width: 500px){

    /*---------------------------------------INICIO-----------------------------*/
    
    .inicioTitulo{
        font-family: 'Bebas Neue', cursive;
        font-size: 35px;  
        color: #f0e0cb;
        width: 100%;
        text-align: right;
        padding-right: 30px;
    }
    
    .boton_inicio{
        position: absolute;
        top: 2px;
        left: 5px;
    }

    .menu{
        font-size: 25px;
        position: absolute;
        top:35px;
        left: 10px;
    }
        
    .H{
        background-image: url(/imagenes/HOME/fondo.jpg);
        object-fit:cover;
        height:700px;   
    }
    .imagenes__img{
        width: 400px;
        margin-left: 40px;
        
    }
    
    .img2{
        height: 600px; ;
    }
    .subtitulo__texto{
        color: #f0e0cb;
        font-size: 40px;
        text-align: start;
        width: 100%;
    }
        
    .listaFooter__li{
        font-size: 20px;
        padding: 5px;
    }
        
    .PieDePagina{
        position: absolute;
        right: 20px;
        font-size: 15px;
    }
        
    .redes{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
        
    .redes__a{
        width: 40px;
        padding: 5px;
        
    }

    .titulo2{
        font-family: 'Bebas Neue', cursive;
        font-size: 75px;
        position: absolute;
        left: 55px;
        top: 500px;
        animation:fadeIn ;
        animation-duration: 3s;
    }
    
    /*---------------------------------------GALERIA-----------------------------*/

    .galeria{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: repeat(7,250px) ;
        grid-template-areas: 
             "img1 img1"
             "img2 img2" 
             "img2 img2"
             "img3 img3" 
             "img4 img4" 
             "img5 img5"
             "img6 img6" ;
    }
    
    .galeria__img{
        padding-top:10px;
        width: 100%;
        object-fit: cover;
        margin-left: 7px;
    }

   

    /*---------------------------------------SOBRE MI-----------------------------*/
    .sobreMi{
        display:flex;
        flex-direction: row-reverse;
        justify-content: center; 
    }

    .imagenPerfil{
        width:250px;
        height: 300px;
        margin: 20px;
        margin-bottom: 10px;
        margin-top: 50px;
        
    }
    .textoSobreMi{
        width: 300px;
        height:400px;
        font-size: 15px;
        margin: 10px;
        margin-bottom: 10px;  
        overflow: scroll;
        
    }

    
    /*---------------------------------------PROYECTOS----------------------------*/
    .proyectos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20x;
    }
    .proyectos__img{
        padding: 10px;
        width: 450px;
    }
    
    .proyectos__texto{
        font-size: 20px;
        width: 75%;
    
    }
    /*---------------------------------------OBRAS----------------------------*/
    .obras__img{
        width: 100%;
    }

    .obras__texto{
        font-size: 15px;
        padding: 5px;
        width: 100%;
    }

 /*---------------------------------------CONTACTO----------------------------*/
    .grid-contacto{
        display: grid;
        grid-template-areas: 
              "H H"
              "img img"
              "mensaje mensaje"
              "form none"
              "F F";
       grid-gap: 10px;  
       grid-template-columns: 1fr 1fr;
    
    }
    
    .formulario{
        grid-area: form;
        margin: auto;
    }
    .imgcont{
        grid-area: img;
    }
    
    .DejanosTuMensaje{
        font-size: 50px;
        grid-area: mensaje;
        text-align: center;
        margin: auto;
    }
    
    .imagen-contacto{
        width: 100%;
        padding: 20px;
    }
    
    .formulario__div{
        width: 800px;
        margin: 20px;
       
    }
    
    .formulario__label{
        width: 800px;
        height: 900px;
    }
    
    .formulario__input{
       width: 500px;
       height: 50px;
        padding: 15px;
        margin: 20px;
        border: 1px solid #ffffff;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        background-color: #242020;
        color: #f0e0cb;
    }
    
    .mensaje{
        height: 150px;
    }
    
    .boton1{
        background-color:#f18c72 ;
        width: 150px;
        height: 50px;
        padding: 10px;
        margin: 10px;
    }
    .boton2{
        background-color:#f18c72 ;
        width: 150px;
        height: 50px;
        padding: 10px;
        margin: 10px;
    }
}